spring:
  application:
    name: taco-cloud
  datasource:
    url: jdbc:h2:mem:tacocloud
    generate-unique-name: false
    name: tacocloud
  sql:
    init:
      mode: always
  h2:
    console:
      enabled: true
